<!DOCTYPE>
<html>
<head>
  <title>Products</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
  <h1>Products</h1>       
  <form method="get" action="/add">
    <button type="submit">Thêm nhân viên</button>
  </form> 
  <hr>
  <h2>Danh sách nhân viên</h2> <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Mã </th>
        <th>Tên</th>
        <th>Lương</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
    </thead>

    <tbody>
       {{#each data}}
      <tr>
        <td>{{this.maNV}}</td>
        <td>{{this.tenNV}}</td>
        <td>{{this.luong}}</td>
       <td>
        <form action="/edit/{{this._id}}" method="get">
          <button type="submit">Edit</button>
        </form>
        <td>
          <form action="/delete/{{this._id}}" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
        </td>
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>

</body>
</html>